<div class="form">
    <div class="card" style="margin-bottom: 50px;">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Edit Profile</h4>
            <p class="card-category">Complete your profile</p>
        </div>
        <div class="card-body card-body-form-field">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name">
                          </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name">
                          </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Username">
                          </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="pat@example.com" required>
                          </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Phone number</mat-label>
                            <input type="number" matInput placeholder="Phone number">
                          </mat-form-field>
                    </div>
                </div>
                <div class="update-btn">
                    <button mat-raised-button color="primary">Update Your Profile</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card" style="margin-bottom: 50px;">
        <div class="card-header card-header-warn">
            <h4 class="card-title">Edit Profile</h4>
            <p class="card-category">Complete your profile</p>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name">
                          </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name">
                          </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Username">
                          </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="pat@example.com" required>
                          </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Phone number</mat-label>
                            <input type="number" matInput placeholder="Phone number">
                          </mat-form-field>
                    </div>
                </div>
                <div class="update-btn">
                    <button mat-raised-button color="warn">Update Your Profile</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card" style="margin-bottom: 50px;">
        <div class="card-body card-body-form-field">
            <form>
                <div class="form-header">
                    <h4>Edit Profile</h4>
                    <p>Enter your name and email to continue.</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name">
                          </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name">
                          </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Username">
                          </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="pat@example.com" required>
                          </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>Phone number</mat-label>
                            <input type="number" matInput placeholder="Phone number">
                          </mat-form-field>
                    </div>
                </div>
                <div class="update-btn-sec">
                    <button mat-raised-button color="primary">Update Your Profile</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card" style="margin-bottom: 50px;">
        <div class="card-body">
            <form>
                <div class="form-header">
                    <h4>Edit Profile</h4>
                    <p>Enter your name and email to continue.</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name">
                          </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name">
                          </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Username">
                          </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="pat@example.com" required>
                          </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Phone number</mat-label>
                            <input type="number" matInput placeholder="Phone number">
                          </mat-form-field>
                    </div>
                </div>
                <div class="update-btn-sec">
                    <button mat-raised-button color="warn">Update Your Profile</button>
                </div>
            </form>
        </div>
    </div>
</div>